/* BASICS */

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html { 
    font-size: 62.5%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1.4rem;
    font-family: Roboto, sans-serif;
}

/* NAVBAR */

/* HOME - ARTICLES */

/* ARTICLE */

/* CONNECTION ACCOUNT */